@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>True Culture</h1>
    <p class="lead">True Culture is a social media app that allows you to test your knowledge in any language you desire to learn.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            True Culture is a great way to connect with people from around that world, as well as learn their native languages and
            cultures. For anyone looking to travel, this is the perfect way to practice, and to learn what behaviors are okay
            and not okay in those countries.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Lessons</h2>
        <p>We offer many lessons from beginner lessons all the way to advanced.  </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Quizzes</h2>
        <p>At the end of every lesson, there is a quiz to test your knowledge. If you miss any questions, it can be added to 
        a list so you can look over the questions you have problems with</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>